<!-- form -->
<div class="card card-account" [formGroupName]="mFormGroupName">
  <div class="card-header">
    <small class="ps-1 d-inline-block ms-2">Información general (Personal)</small>
  </div>
  <div class="card-body">
    <!-- first_name . init -->
    <div class="form-group">
      <label for="person-first_name">{{ labels.person.first_name.label }} *</label>
      <input
        id="person-first_name"
        class="form-control"
        type="text"
        placeholder="Requerido"
        formControlName="first_name"
      />
      <div
        *ngIf="!mFormGroup.get(mFormGroupName)?.get('first_name')?.valid && mFormGroup.get(mFormGroupName)?.get('first_name')?.dirty && mFormGroup.get(mFormGroupName)?.get('first_name')?.errors?.['required']"
        class="alert alert-danger form-text first_name-error-required"
        role="alert"
      >
        {{ labels.person.first_name.label }} es requerido
      </div>
    </div>
    <!-- first_name . end -->
    <!-- last_name . init -->
    <div class="form-group">
      <label for="person-last_name">{{ labels.person.last_name.label }} *</label>
      <input id="person-last_name" class="form-control" type="text" placeholder="Requerido" formControlName="last_name" />
      <div
        *ngIf="!mFormGroup.get(mFormGroupName)?.get('last_name')?.valid && mFormGroup.get(mFormGroupName)?.get('last_name')?.dirty && mFormGroup.get(mFormGroupName)?.get('last_name')?.errors?.['required']"
        class="alert alert-danger form-text last_name-error-required"
        role="alert"
      >
        {{ labels.person.last_name.label }} es requerido
      </div>
    </div>
    <!-- last_name . end -->
    <!-- cell_phone . init -->
    <div class="form-group">
      <label for="person-cell_phone">{{ labels.person.cell_phone.label }} </label>
      <input id="person-cell_phone" class="form-control" type="text" formControlName="cell_phone" />
    </div>
    <!-- cell_phone . end -->
    <!-- birth_date . init -->
    <div class="form-group">
      <label for="person-birth_date">{{ labels.person.birth_date.label }} </label>
      <div class="input-group">
        <input
          id="person-birth_date"
          #person_birth_date_date="ngbDatepicker"
          class="form-control"
          placeholder="yyyy-mm-dd"
          ngbDatepicker
          formControlName="birth_date"
        />
        <button
          title="calendario"
          class="btn btn-outline-secondary m-0"
          (click)="person_birth_date_date.toggle()"
          type="button"
        >
          <i class="fa fa-calendar text-info"></i>
        </button>
      </div>
      <div
        *ngIf="!mFormGroup.get(mFormGroupName)?.get('birth_date')?.valid && mFormGroup.get(mFormGroupName)?.get('birth_date')?.dirty && mFormGroup.get(mFormGroupName)?.get('birth_date')?.errors?.['ngbDate']?.invalid"
        class="alert alert-danger form-text"
        role="alert"
      >
        {{ labels.person.birth_date.label }} fecha invalida
      </div>
    </div>
    <!-- birth_date . end -->
    <!-- address . init -->
    <div class="form-group">
      <label for="person-address">{{ labels.person.address.label }} </label>
      <input id="person-address" class="form-control" type="text" formControlName="address" />
    </div>
    <!-- address . end -->
    <!-- neighborhood . init -->
    <div class="form-group">
      <label for="person-neighborhood">{{ labels.person.neighborhood.label }} </label>
      <input id="person-neighborhood" class="form-control" type="text" formControlName="neighborhood" />
    </div>
    <!-- neighborhood . end -->
  </div>
</div>
<!-- form . end -->
