<div class="panel-header panel-header-sm" *ngIf="!isSubComponent"></div>
<div [class.main-content]="!isSubComponent">
  <form class="card" #modelForm="ngForm">
    <div *ngIf="!isSubComponent" class="card-header">
      <h5 class="title">{{ labels.city.ownNamePlural }}</h5>
    </div>
    <div *ngIf="!isSubComponent" class="card-body">
      <!-- country -->
      <div class="row">
        <div class="col-12 col-md-3">
          <div class="form-group">
            <label> Cond. </label>
            <select
              id="countryCond"
              name="countryCond"
              class="form-control"
              [(ngModel)]="modelSearch.conditionCountry.cond"
            >
              <option *ngFor="let o of conditionalOptions" [value]="o.value">
                {{ o.label }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-12 col-md-7">
          <div class="form-group">
            <app-country-auto-complete
              name="m2m-country"
              acId="country"
              [acName]="labels.country.ownName"
              [currentPage]="mApi.index()"
              [(ngModel)]="modelSearch.conditionCountry.value"
            >
            </app-country-auto-complete>
          </div>
        </div>
        <div class="col-12 col-md-2">
          <div class="form-group">
            <label> Oper. </label>
            <select
              id="countryOper"
              name="countryOper"
              class="form-control"
              [(ngModel)]="modelSearch.conditionCountry.oper"
            >
              <option *ngFor="let o of operatorOptions" [value]="o.value">
                {{ o.label }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <!-- country . end -->
      <!-- region -->
      <div class="row">
        <div class="col-12 col-md-3">
          <div class="form-group">
            <label> Cond. </label>
            <select
              id="regionCond"
              name="regionCond"
              class="form-control"
              [(ngModel)]="modelSearch.conditionRegion.cond"
            >
              <option *ngFor="let o of conditionalOptions" [value]="o.value">
                {{ o.label }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-12 col-md-7">
          <div class="form-group">
            <app-region-auto-complete
              [country]="modelSearch.conditionCountry.value"
              name="m2m-region"
              acId="region"
              [acName]="labels.region.ownName"
              [currentPage]="mApi.index()"
              [(ngModel)]="modelSearch.conditionRegion.value"
            >
            </app-region-auto-complete>
          </div>
        </div>
        <div class="col-12 col-md-2">
          <div class="form-group">
            <label> Oper. </label>
            <select
              id="regionOper"
              name="regionOper"
              class="form-control"
              [(ngModel)]="modelSearch.conditionRegion.oper"
            >
              <option *ngFor="let o of operatorOptions" [value]="o.value">
                {{ o.label }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <!-- region . end -->
    </div>
    <div *ngIf="!isSubComponent" class="card-body">
      <ng-template baseCmsJfAddComponent></ng-template>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <button (click)="addFilter()" type="button" class="btn btn-info m-1 float-end">
              Agregar criterio de búsqueda
            </button>
          </div>
        </div>
      </div>
    </div>

    <base-cms-generic-table
      *ngIf="!itemCurrent"
      [loadCsv]="true"
      [csv]="csv"
      [labels]="labels"
      [itemLabels]="itemLabels"
      [modelSearch]="modelSearch"
      [responseList]="responseList"
      [loading]="loading"
      [isSubComponent]="isSubComponent"
      [hasPermission2delete]="hasPermission2delete"
      [hasPermission2new]="hasPermission2new"
      [hasPermission2show]="hasPermission2show"
      (_onLazyLoad)="onLazyLoad($event)"
      (_onRowSelect)="onRowSelect($event)"
      (_onAddNew)="onAddNew($event)"
      (_onDelete)="onDelete($event)"
      (_onClearFilters)="clearFilters($event)"
      (_onMassiveInsert)="massiveInsert($event)"
    ></base-cms-generic-table>
  </form>

  <app-city-detail
    *ngIf="itemCurrent"
    [city]="itemCurrent"
    [isSubComponent]="isSubComponent"
    [isSubComponentFrom]="isSubComponentFrom"
    (saveClicked)="saveFormClicked($event)"
    (cancelClicked)="itemCurrent = undefined"
  >
  </app-city-detail>
</div>
